body {
  font-size: 16px;
  color: #fff;
}

.title {
  font-family: 'Roboto Slab', serif;
  font-size: 2.25em;
  padding-top: 5em;
  line-height: 1.4em;
  color: #fff;
}

.section-title {
  font-family: 'Roboto Slab', serif;
  font-size: 1.6em;
}

.container-title {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.125em;
}

.section-text {
  font-family: 'Open Sans', sans-serif;
  font-size: .8em;
  line-height: 1.8em;
}

.section-description {
  font-family: 'Open Sans', sans-serif;
  font-size: .75em;
  color: #a9a9a9;
}

.form-title {
  font-family: 'Roboto Slab', serif;
  font-size: 1.3em;
  line-height: 1.3em;
  margin-bottom: 1.5em;
}

.form-text {
  font-family: 'Open Sans', sans-serif;
  font-size: .875em;
}

.container-btn {
  display: inline-block;
  width: 17.5em;
  height: 3.5em;
  border-radius: 2em;
  font-family: 'Open Sans', sans-serif;
  font-size: .875em;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 3.5em;
  text-align: center;
  color: #fff;
}

.app {
  max-width: 60em;
  margin: 0 auto;
  padding-left: 3em;
}

.section-image {
  width: 95%;
}

::-webkit-input-placeholder {color:#a8c3fd;}
::-moz-placeholder          {color:#a8c3fd;}/* Firefox 19+ */
:-moz-placeholder           {color:#a8c3fd;}/* Firefox 18- */
:-ms-input-placeholder      {color:#a8c3fd;}